.about-heading {
    padding-top: 25px;
    padding-bottom: 25px;
}

.about-us {
    font-size: 20px;
    padding-top: 50px;
    padding-right: 70px;
}

.title-image  {
    height: 400px;
    width: 400px;
    margin-left: 120px;
    margin-bottom: 10px;
}

.contact-heading {
    padding-top: 25px;
    padding-bottom: 50px;
}

.contact-details {
    padding-top: 85px;
}

.contact-image {
    margin-left: 50px;
    height: 100%;
    width: 70%;
}

/* Navbar links to right */
a.nav-link.active {
    padding-left: 60rem !important;
}
/* fix position of navbar */
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    position: fixed;
    top: 0;
    width: 100%;
}
/* background of nav */
.bg-light {
    background-color: #f1db6e45 !important;
}
